body{
    background-color: rgb(22, 111, 214);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 39, 39);
}

.container{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 800px;
    height: 400px;
    background-color: white;
    display: flex;
}

.left-container{
    padding: 20px;
    width: 50%;
}

input{
    width: 100%;
    margin-bottom: 10px;
}

.input-form{
    padding: 7px;
    border-radius: 5px;
    border: solid 1px rgb(221, 221, 221);
}

.desc-form{
    display: flex;
    justify-content: space-between;
}

.right-container{
    width: 50%;
    padding: 20px;
    background-color: rgb(243, 243, 243);
}

button{
    width: 100%;
    background-color: rgb(22, 111, 214);
    border: none;
    padding: 5px;
    border-radius: 5px;
}

p{
    font-weight: 600;
}

a{
    font-weight: 600;
    font-size: medium;
    color: rgb(22, 111, 214);
    text-decoration:none
}